/* General margin removing, and things like that */
:root,
* {
    box-sizing: border-box;
}

figure {
    margin: 0;
    padding: 0;
}

figure img {
    display: block;
}

.figcaption {
    color: rgb(68, 68, 68);
    text-align: center;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all .1s;
}

ul {
    list-style-type: none;
}

html {
    margin: 0;
    padding: 0;
}

/* --------Fonts-------*/
body {
    line-height: 1.5;
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
.logo {
    font-family: "Playfair Display", serif;
    margin: 0;
}
/* -----------------___CATEGORY HEADER___----------------- */
.category-header {
    z-index: 20;
    font-size: 2rem;
    text-transform: uppercase;
    grid-column: 1/-1;
    justify-self: start;
    align-self: center;
    margin-bottom: -0.5rem;
    color: rgb(183, 204, 181);
}

.category-header:before,
.category-header:after {
    content: "///"
}

/* -----------------___CARD___------------------------ */
.card {
    box-shadow: 0 0 10px 1px rgba(75, 74, 74, 0.192);
    border-radius: 1rem;
    overflow: hidden;
}

/* ----------------___TAGS___---------------------------- */
.tag-list {
    margin: 0;
    padding: 0;
    margin-top: 2rem;
    display:flex;
    flex-wrap: wrap;
    border-radius: 1rem;
}

.tag-list-item {
    font-size: .9rem;
    border-radius: 5rem;
    box-shadow: 0 0 8px 2px rgba(75, 74, 74, 0.192);
    transition: all .3s;
    margin: .5rem;
}

.tag-list-item a {
    display: flex;
    padding: .3rem .8rem;
}

.tag-list-item:hover {
    background-color: rgb(56, 56, 56);
    color: white;
}
