
/* Header */
.top-bar {
    color: rgb(34, 34, 34);
    grid-area: hr;
    padding: 0.2rem 0;
    justify-content: center;
    align-items: center;
    margin-top: .3rem;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    margin-bottom: 3rem;
}

.logo {
    grid-column: 2/3;
    font-size: 1.7rem;
    border-bottom: 2px solid rgb(7, 83, 36);
    border-radius: 2px;
    padding: .2rem 1rem;

}
.navigation_wrapper {
    display: flex;
    justify-self: end;
    grid-column: 3/4;
}

.subscribe {
    display: none;
    font-family: "Playfair Display", serif;
    padding: 0.2rem 0.7rem;
    transition: all .3s;
    color: rgb(0, 0, 0);
}

.subscribe:hover {
    text-decoration: underline;
}

@media (min-width: 628px) {
    .subscribe {
        display: inline-block;
    }
}


