/* MAIN GRID */

body {
    display: grid;
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 1160px;
    grid-template-columns: 1fr ;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "hr"
        "mn"
        "fr";
        /* hr: header; mn: main; fr: footer */
}

main {
    grid-area: mn;
    position: relative;
}
