@import "./general.css";
@import "./layout.css";
@import "./header.css";
@import "./footer.css";



/* Main */
main {
    grid-area: mn;
    position: relative;
}

/* ----------------------POSTS---------------- */
.post-cards-section {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}

.category-header {
    z-index: 20;
    font-size: 2rem;
    text-transform: uppercase;
    grid-column: 1/-1;
    justify-self: start;
    align-self: center;
    margin-bottom: -0.5rem;
    color: rgb(183, 204, 181);
}
.category-header:before,
.category-header:after {
    content: "///"
}

.post-card {
    height: 100%;
}
.post-card a {
    background-color: #fff;
    box-shadow: 0 0 10px 1px rgba(75, 74, 74, 0.192);
    display: flex;
    border-radius: 1rem;
    flex-direction: column;
    align-items: stretch;
    color: rgb(41, 41, 41);
    min-height: 200px;
    height: 100%;
    position: relative;
    overflow: hidden;

}

.post-card a:hover {
    box-shadow: 0 4px 15px 2px rgba(75, 74, 74, 0.281);
}

.new::after {
    color: white;
    content: "New";
    font-size: 1.3rem;
    padding: .2rem 2rem;
    background-color: rgb(211, 72, 72);
    position: absolute;
    top: -2.3rem;
    left: -10px;

}

.card-text-wrapper {
    padding: 1.3rem;
    position: relative;
}

.post-header {
    margin: 0;
    font-size: 1.6rem;
    position: relative;
}

.post-header:before {
    content: "";
    height: 3px;
    width: 0%;
    background-color: rgb(5, 170, 5);
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all .3s;
}

.post-card:hover .post-header:before {
    width: 20%;
}


.card-figure {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    position: relative;
    height: 300px;
}

.card-img {
    object-fit: cover;
    max-height: auto;
    max-width: 100%;
    transition: all 1s;
}

.browse-all-link-wrapper {
    margin: 2rem 0 3rem 0;
    grid-column: 1/-1;
    justify-self: center;

}

.link-button {
    font-size: 1.3rem;
    font-weight: 300;
    font-family: "Playfair Display", serif;
    padding: 0 .8rem;
    border-radius: 100px;
    position: relative;
    z-index: 2;
    padding-bottom: .1rem;
}

.link-button:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: black;
    transition: all .3s;
    z-index: -2;
}

.link-button:hover:before {
    width: 100%;
}

.link-button:hover {
    color: white;
}
/* --------------------- TAGS --------------------------- */

.tag-list {
    margin: 0;
    padding: 0;
    margin-top: 2rem;
    display:flex;
    flex-wrap: wrap;
    border-radius: 1rem;
}

.tag-list-item {
    font-size: 1rem;
    /* border: 1px solid rgb(85, 85, 85); */
    border-radius: 5rem;
    box-shadow: 0 0 8px 2px rgba(75, 74, 74, 0.192);
    transition: all .3s;
    margin: .5rem;
}

.tag-list-item a {
    display: flex;
    padding: .3rem .8rem;


}

.tag-list-item:hover {
    background-color: rgb(56, 56, 56);
    color: white;
}

/* -------------------- ABOUT ME ------------------------ */
/* 
.about-content-wrapper {
    display: grid;
    margin-top: 2rem;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 0 8px 2px rgba(75, 74, 74, 0.192);
    border-radius: 1rem;
    overflow: hidden;
    grid-template-columns: 300px 1fr;
}

.about-header-wrapper {
    display: flex;
    flex-direction: column;
}
.about-me-header {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.profile-figure {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.profile-img {
    display: block;
    object-fit: cover;

} */
/* -------------------- SUBSCRIBE ------------------------ */

.subscribe-wrapper {
    margin-top: 6rem;
    background-color: yellow;
    display: grid;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    box-shadow: 0 0 8px 2px rgba(75, 74, 74, 0.192);
    border-radius: 1rem;
}
.subscribe-wrapper h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    padding: .5rem 1rem;
    text-align: center;
}

.subscribe-form-field {
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-email {
    height: 2rem;
    border: none;
    padding: 0 1rem;
    border-radius: 6px;
    width: 15rem;
    box-shadow: 0 0 8px 2px rgba(75, 74, 74, 0.192);
}

.submit-btn {
    display: inline-block;
    height: 2rem;
    border: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: 600;
    transition: all .3s;
    border-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0 0 8px 2px rgba(75, 74, 74, 0.192);
    border: 2px solid black;
    justify-self: flex-start;
    margin-top: 1rem;
    width: 100px;

}

.submit-btn:hover {
    background-color: #fff;
    color: black;
}    

@media (min-width: 400px) {

    .subscribe-form-field {
        align-self: stretch;
        justify-self: center;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
    }

    .input-email {
        padding: 0 1rem;
        max-width: 15rem;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }

    .submit-btn {
        margin-left: -5px;
        padding: 0 1rem;
        border-radius: 0;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        margin-top: 0;
    
    }
}

@media (min-width: 420px) {

    .category-header {
        font-size: 2.6rem;;
    }
}