/* -------------------- SUBSCRIBE ------------------------ */

.subscribe-wrapper {
    margin-top: 6rem;
    background-color: yellow;
    display: grid;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    box-shadow: 0 0 8px 2px rgba(75, 74, 74, 0.192);
    border-radius: 1rem;
}
.subscribe-wrapper h3 {
    margin: 1rem 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    padding: .5rem 1rem;
    text-align: center;
}

.subscribe-form-field {
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-email {
    height: 2rem;
    border: none;
    padding: 0 1rem;
    border-radius: 6px;
    width: 15rem;
    box-shadow: 0 0 8px 2px rgba(75, 74, 74, 0.192);
}

.submit-btn {
    display: inline-block;
    height: 2rem;
    border: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: 600;
    transition: all .3s;
    border-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0 0 8px 2px rgba(75, 74, 74, 0.192);
    border: 2px solid black;
    justify-self: flex-start;
    margin-top: 1rem;
    width: 100px;

}

.submit-btn:hover {
    background-color: #fff;
    color: black;
}    

/* Query for the Subscribe form field */
@media (min-width: 400px) {

    .subscribe-form-field {
        align-self: stretch;
        justify-self: center;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
    }

    .input-email {
        padding: 0 1rem;
        max-width: 15rem;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }

    .submit-btn {
        margin-left: -5px;
        padding: 0 1rem;
        border-radius: 0;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        margin-top: 0;
    
    }
}
