
body {
    max-width: 710px;
    grid-template-columns: 3fr 1fr;
    grid-gap: 0 4rem;
    grid-template-areas: 
    "hr hr"
    "mn mn"
    "sd sd"
    "fr fr";
    /* hr: header; mn: main; sd: sidebar fr: footer */
}
/* -------------------------CONTENT----------------- */

.post-date,
.author {
    color: grey;
}

.main-post {
    max-width: 710px;
    margin: 0 auto;
}

.main-header {
    font-size: 2.5rem;
}

.author {
    font-weight: 600;
    margin: 5px 0;
}

.hero-img-figure {
    margin: 2rem 0;
}

.hero-img {
    object-fit: cover;
    width: 100%;
    max-height: 400px;
    display: flex;
    justify-content: center;
}


.tips-list-items {
    list-style-type: disc;
}

.tips-list-item {
    margin: 1rem 0;
}
/* ------------------SIDEBAR---------------------- */
/* general */
.sidebar {
    grid-area: sd;
}

.sidebar-subcontent {
    padding: 1rem 0;
    margin: 2rem 0;
}

.sidebar-header {
    justify-self: flex-start;
    align-self: flex-start;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

/* Share */
.share-post .social-links {
    justify-content: flex-start;
}

.share-post .sidebar-header {
    margin-top: 3rem;
    margin-bottom: .3rem;
}

/* Author */
.author-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
}

.author-figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.job {
    margin: 0;
    padding: 0;
    font-size: .8rem;
}

.bio-description {
    text-align: justify;
    padding: 0 1rem;
}

@media (min-width: 900px) {
    body {
        grid-template-areas: 
        "hr hr"
        "mn sd"
        "fr fr";
        max-width: 1160px;
    }
}


